<%= form_for(@attached_image) do |f| %>
  <% if @attached_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attached_image.errors.count, "error") %> prohibited this attached_image from being saved:</h2>

      <ul>
      <% @attached_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :story_id %><br />
    <%= f.select :story_id,
    options_from_collection_for_select(
    Story.all, "id", "name", @comment.story_id),
    { include_blank: "[pick story]" } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
