<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.select :project_id,
    options_from_collection_for_select(
    Project.all, "id", "name", @story.project_id),
    { include_blank: "[pick project]" } %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br />
    <%= f.select :state_id,
    options_from_collection_for_select(
    State.all, "id", "name", @story.state_id),
    { include_blank: "[pick state]" } %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
